.template {
    width: 100%;
    padding: 20px;
    margin: 10px 5px;
    box-sizing: border-box;
    background-color: gainsboro;
    border: 1px solid #000000;
    border-radius: 10px;
}

.template-section {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: rgb(236, 215, 215);
    border: 1px solid #000000;
    border-radius: 10px;
}

.template-input {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.template-input > div {
    background-color: white;
    border: 1px solid #000000;  
    border-radius: 10px;
    padding: 15px 10px;
}

.template-input > div > label {
    color: red;
    display: block;
    margin-bottom: 5px;
}

.template-input > div > input {
    width: 100%;
    padding: 5px;
}


/* .input-box {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
} */

/* .input-box:focus {
    color: #000000;
    border: 1px solid #000000;
} */

.add-container {
    position: relative;
}

.add-container > .select-item {
    position: absolute;
}

.hide {
    display: none;
}

.list {
    margin-top: 5px;
    list-style: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    border-radius: 10px;
}

.list > li {
    width: 120px;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.list > li:hover {
    background-color: rgb(236, 215, 215);
}

.add-button {
    border: none;
    background-color: rgb(199, 193, 193);
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}